<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

  <%ContactStructure.all.each do |cs|%>
    <p>
      <strong><%=cs.name.capitalize%>:</strong>
      <%= @contact.extra[cs.name] %>
    </p>
  <%end%>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
