<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact_structure.user %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @contact_structure.data_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact_structure.name %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @contact_structure.extra %>
</p>

<%= link_to 'Edit', edit_contact_structure_path(@contact_structure) %> |
<%= link_to 'Back', contact_structures_path %>
