<!DOCTYPE html>
<html>
  <head>
    <title>ChangeableContacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <%= render 'menu'%>

  <% if !flash.empty?%>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div>
    </div>
  <%end%>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
